<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000091" />
    <title inertia>
      Aides Simplifiées
    </title>

    @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body class="min-h-screen w-screen font-sans">
    @inertia()
  </body>

</html>
