# Dependencies and AdonisJS build
node_modules
build
tmp

# Secrets
.env
.env.local
.env.production.local
.env.development.local


# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode/**
!.vscode/extensions.json
!.vscode/settings.example.json

# Platform specific
.DS_Store
legacy
legacy/*

icon-usage-report-*.md
/tests/browser/screenshots/

# Coverage reports
coverage
.nyc_output
*.lcov
